@import '../../../variables.scss';

.header-input {
  display: flex;
  align-content: space-between;
  min-width: 220px;
  width: 220px;

  &_search-input {
    // height: 32px;
    width: 80%;
    border-radius: 5px 5px 5px 5px;
    font-size: 1rem;

    &::placeholder {
      font-size: 1rem;
    }

    &.ng-touched:focus::placeholder {
      color: transparent;
    }
  }

  &_search-button {
    width: 32px;
    height: 32px;
    background-color: oklch(100% 0 0);
    border-radius: 0px 5px 5px 0px;
    border: solid 1px;
    border-left: none;
    transition: all 0.4s ease-in-out;

    &:hover {
      cursor: pointer;
      background-color: $electric-violet;
      color: oklch(51.44% 0.232 332.5);
      border-color: oklch(0% 0 0);
    }
  }

  &_close-button {
    background-color: transparent;
    border: none;

    &:hover {
      cursor: pointer;
    }
  }
}
