<div class="admin">
  Create new card
  <form [formGroup]="adminForm" class="admin_form" (ngSubmit)="onSubmit()">
    <div class="admin_item">
      <label class="admin_label" for="title">Title</label>
      <input
        class="admin_input"
        id="title"
        type="text"
        formControlName="title"
        placeholder="title..." />
    </div>
    <div *ngIf="title?.invalid && title?.touched" class="alert alert-danger">
      <div *ngIf="adminForm.get('title')?.hasError('required')">
        please enter a title
      </div>
      <div *ngIf="title?.hasError('minlength')">* the title is too short</div>
      <div *ngIf="title?.hasError('maxlength')">* the title is too long</div>
    </div>
    <div class="admin_item">
      <label class="admin_label" for="description">Description</label>
      <input
        class="admin_input"
        id="password"
        type="text"
        formControlName="description"
        placeholder="description..." />
    </div>
    <div *ngIf="description?.invalid" class="alert alert-danger">
      <div *ngIf="description?.hasError('maxlength')">
        * the description is too long
      </div>
    </div>
    <div class="admin_item">
      <label class="admin_label" for="img">Image</label>
      <input
        class="admin_input"
        id="img"
        type="text"
        formControlName="img"
        placeholder="image..." />
    </div>
    <div *ngIf="img?.invalid && img?.touched" class="alert alert-danger">
      <div *ngIf="img?.hasError('required')">please enter an img</div>
    </div>
    <div class="admin_item">
      <label class="admin_label" for="link">Link video</label>
      <input
        class="admin_input"
        id="link"
        type="text"
        formControlName="linkVideo"
        placeholder="link video..." />
    </div>
    <div
      *ngIf="linkVideo?.invalid && linkVideo?.touched"
      class="alert alert-danger">
      <div *ngIf="linkVideo?.hasError('required')">
        please enter a link video
      </div>
      <div *ngIf="linkVideo?.hasError('minlength')">
        * the link is too short
      </div>
    </div>
    <ng-container formArrayName="tags">
      <div *ngFor="let tag of tags.controls; let index = index">
        <div class="admin_item">
          <label class="admin_label" for="tag">Tag</label>
          <input
            class="admin_input"
            id="tag"
            type="text"
            [formControlName]="index"
            placeholder="tag..." />
        </div>
        <div *ngIf="tags?.invalid && tags?.touched" class="alert alert-danger">
          <div *ngIf="tag?.hasError('required')">please enter a tag</div>
        </div>
        <button class="admin_button delete" (click)="addTag()">
          {{ addButtonName | uppercase }}
        </button>
        <button class="admin_button delete" (click)="removeTag()">
          {{ deleteButtonName | uppercase }}
        </button>
      </div></ng-container
    >
    <button class="admin_button reset" (click)="reset()">
      {{ resetButtonName | uppercase }}
    </button>
    <button
      class="admin_button submit"
      type="submit"
      [disabled]="!adminForm.valid">
      {{ submitButtonName | uppercase }}
    </button>
  </form>
</div>
