<div class="admin">
  Create new card
  <form [formGroup]="adminForm" class="admin_form" (ngSubmit)="onSubmit()">
    <div class="admin_item">
      <label class="admin_label" for="title"
        >Title <span class="required_sign">{{ requiredSign }}</span></label
      >
      <input
        class="admin_input"
        id="title"
        type="text"
        formControlName="title"
        placeholder="title..." />
    </div>
    @if (title?.invalid && title?.touched) {
      <div class="alert alert-danger">
        @if (adminForm.get('title')?.hasError('required')) {
          <div>please enter a title</div>
        }
        @if (title?.hasError('minlength')) {
          <div>* the title is too short</div>
        }
        @if (title?.hasError('maxlength')) {
          <div>* the title is too long</div>
        }
      </div>
    }
    <div class="admin_item">
      <label class="admin_label" for="description">Description</label>
      <input
        class="admin_input"
        id="description"
        type="text"
        formControlName="description"
        placeholder="description..." />
    </div>
    @if (description?.invalid && description?.touched) {
      <div class="alert alert-danger">
        @if (description?.hasError('maxlength')) {
          <div>* the description is too long</div>
        }
      </div>
    }
    <div class="admin_item">
      <label class="admin_label" for="img"
        >Image <span class="required_sign">{{ requiredSign }}</span></label
      >
      <input
        class="admin_input"
        id="img"
        type="text"
        formControlName="img"
        placeholder="image..." />
    </div>
    @if (img?.invalid && img?.touched) {
      <div class="alert alert-danger">
        @if (img?.hasError('required')) {
          <div>please enter an img</div>
        }
      </div>
    }
    <div class="admin_item">
      <label class="admin_label" for="link"
        >Link video <span class="required_sign">{{ requiredSign }}</span></label
      >
      <input
        class="admin_input"
        id="link"
        type="text"
        formControlName="linkVideo"
        placeholder="link video..." />
    </div>
    @if (linkVideo?.invalid && linkVideo?.touched) {
      <div class="alert alert-danger">
        @if (linkVideo?.hasError('required')) {
          <div>please enter a link video</div>
        }
        @if (linkVideo?.hasError('minlength')) {
          <div>* the link is too short</div>
        }
      </div>
    }
    <div class="tags_wrapper" formArrayName="tags">
      @for (tag of tags.controls; track tag; let index = $index) {
        <div class="tags">
          <div class="admin_item tag">
            <label class="admin_label" for="tag"
              >Tag <span class="required_sign">{{ requiredSign }}</span></label
            >
            <input
              class="admin_input"
              id="tag"
              type="text"
              [formControlName]="index"
              placeholder="tag..." />
            <button class="admin_button tag" (click)="addTag()">
              {{ addButtonName | uppercase }}
            </button>
            <button class="admin_button tag" (click)="removeTag()">
              {{ deleteButtonName | uppercase }}
            </button>
          </div>
          @if (tag.invalid && tag.touched) {
            <div class="alert alert-danger">
              @if (tag?.hasError('required')) {
                <div>please enter a tag</div>
              }
            </div>
          }
        </div>
      }
    </div>
    <div class="required">
      <span class="required_sign">{{ requiredSign }}</span> required
    </div>
    <button class="admin_button reset" (click)="reset()">
      {{ resetButtonName | uppercase }}
    </button>
    <button
      class="admin_button submit"
      type="submit"
      [disabled]="!adminForm.valid">
      {{ submitButtonName | uppercase }}
    </button>
  </form>
</div>
