.admin {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 1 0 auto;
  flex-wrap: wrap;
  padding: 20px 0px;

  &_form {
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid oklch(0% 0 0 / 50);
    padding: 10px 20px;
    border-radius: 10px;
  }

  &_text {
    font-size: 2rem;
    text-align: center;
  }

  &_item {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &.tag {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin: 0 auto;
      margin-bottom: 10px;
      margin-top: 10px;
    }
  }

  &_input {
    outline: none;

    &:focus::placeholder {
      color: transparent;
    }
  }

  &_label {
    pointer-events: none;
  }

  &_button {
    padding: 5px 10px;
    margin-top: 20px;

    &:hover {
      cursor: pointer;
    }

    &.tag {
      margin-top: 0px;
    }
  }
}

input.ng-invalid.ng-touched {
  border: 1px solid oklch(59.98% 0.236 15.45);
}

.alert.alert-danger {
  color: oklch(59.98% 0.236 15.45);
}

.tags_wrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.tags {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 10px;
}

.required, .passed {
  width: 80%;
  display: flex;
  align-items: flex-start;

  &_sign {
    font-size: 1rem;
    width: 20px;
    height: 20px;
    text-align: center;
  }
}

@media screen and (min-width: 320px) and (max-width: 499.99px) {
  .admin_form {
    width: 80%;
  }
}

@media screen and (min-width: 500px) and (max-width: 999.99px) {
  .admin_form {
    width: 50%;
  }
}

@media screen and (min-width: 320px) and (max-width: 999.99px) {
  .admin_item {
    flex-direction: column;
  }
}
