<div class="login">
  <p class="login_text">🔥 login works! 🌀</p>
  <form [formGroup]="loginForm" class="login_form" (ngSubmit)="onSubmit()">
    <div class="login_item">
      <label class="login_label" for="login">Login</label>
      <input
        class="login_input"
        id="login"
        type="text"
        formControlName="login"
        placeholder="your login name..." />
    </div>
    <div class="login_item">
      <label class="login_label" for="password">Password</label>
      <input
        class="login_input"
        id="password"
        type="text"
        formControlName="password"
        placeholder="your password..." />
    </div>
    <button class="login_button" type="submit" [disabled]="!loginForm.valid">
      {{ buttonName | uppercase }}
    </button>
  </form>
</div>
