<div class="login">
  <form [formGroup]="loginForm" class="login_form" (ngSubmit)="onSubmit()">
    <div class="login_item">
      <label class="login_label" for="login">Login</label>
      <input
        class="login_input"
        id="login"
        type="text"
        formControlName="login"
        placeholder="your email..." />
    </div>
    <div *ngIf="login?.invalid && login?.touched" class="alert alert-danger">
      <div *ngIf="login?.hasError('required')">
        please enter your login email
      </div>
      <div *ngIf="login?.hasError('minlength')">
        login must be at least 4 characters long
      </div>
      <div *ngIf="login?.hasError('email')">
        should contain {{ emailSign }} sign
      </div>
    </div>
    <div class="login_item">
      <label class="login_label" for="password">Password</label>
      <input
        class="login_input"
        id="password"
        type="text"
        formControlName="password"
        placeholder="your password..." />
    </div>
    <button class="login_button" type="submit" [disabled]="!loginForm.valid">
      {{ buttonName | uppercase }}
    </button>
  </form>
</div>
