@use '../m3-theme.scss';
@use '@angular/material' as mat;
@include mat.core();
@import './variables.scss';

:host {
  --bright-blue: oklch(51.01% 0.274 263.83);
  --french-violet: oklch(47.66% 0.246 305.88);
  --orange-red: oklch(63.32% 0.24 31.68);

  --gray-900: oklch(19.37% 0.006 300.98);
  --gray-700: oklch(36.98% 0.014 302.71);
  --gray-400: oklch(70.9% 0.015 304.04);

  --red-to-pink-to-purple-vertical-gradient: linear-gradient(
    180deg,
    var(--orange-red) 0%,
    var(--vivid-pink) 50%,
    var(--electric-violet) 100%
  );

  --red-to-pink-to-purple-horizontal-gradient: linear-gradient(
    90deg,
    var(--orange-red) 0%,
    var(--vivid-pink) 50%,
    var(--electric-violet) 100%
  );

  --pill-accent: var(--bright-blue);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  // width: 100%;
  font-size: 20px;
  font-family: Roboto;
  @include mat.core-theme(m3-theme.$light-theme);
  @include mat.button-theme(m3-theme.$light-theme);
  @include mat.all-component-themes(m3-theme.$light-theme);
}

html,
body {
  height: 100%;
}

body {
  width: 100%;
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient($hot-red, $vivid-pink, $electric-violet);
  outline: 1px solid transparent;
  border-radius: 20px;
}

.root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

app-search-results,
app-login,
app-card-details,
app-not-found {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 50px;
  position: relative;
  flex: 1 0 auto;
  padding: 20px 0px;
}

@media screen and (min-width: 650px) and (max-width: 1310px) {
  html {
    font-size: 18px;
  }
}

@media screen and (min-width: 320px) and (max-width: 649.99px) {
  html {
    font-size: 16px;
  }
}
