$hot-red: oklch(61.42% 0.238 15.34);
$vivid-pink: oklch(69.02% 0.277 332.77);
$electric-violet: oklch(53.18% 0.28 296.97);
$hot-red-transparent: oklch(61.42% 0.238 15.34 / 50%);
$vivid-pink-transparent: oklch(69.02% 0.277 332.77 / 50%);
$electric-violet-transparent: oklch(53.18% 0.28 296.97 / 50%);
