<header class="header">
  <div class="header_wrapper">
    <div class="header_youtube-logo"></div>
    <h1 class="header_title">{{ title }}</h1>
    <app-search-input-field
      (fakeSearch)="fakeSearchToApp($event)"></app-search-input-field>
    <div class="header_filters">
      <div class="header_filters-toggle">Filters</div>
      <mat-slide-toggle (click)="toggleFilters()"></mat-slide-toggle>
    </div>
    <div class="header_login">
      <button
        (click)="toggleIsAuth()"
        class="header_login-button"
        [disabled]="this.loginService.getToken() === null">
        {{
          this.loginService.getToken() !== null
            ? 'Logout'
            : 'Login'
        }}
      </button>
      <mat-icon class="header_login-icon">person</mat-icon>
    </div>
  </div>
</header>
