<div
  class="filters_wrapper"
  *ngIf="isFiltersPanelPresent()"
  [ngStyle]="{
    visibility: youtubeService.isFiltersVisible ? 'visible' : 'hidden',
  }">
  <div class="filters_item title">Sorting by:</div>
  <button
    type="button"
    mat-button
    matTooltip="date sort"
    class="filters_item button"
    (click)="dateSortAsc()"
    [disabled]="
      !isDateDesc ||
      !isViewsCountAsc ||
      !isViewsCountDesc ||
      youtubeService.filterSearchInputValue !== ''
    "
    [ngStyle]="{
      background: !isDateAsc ? buttonColourActive : 'transparent',
    }">
    date ASC
  </button>
  <button
    type="button"
    mat-button
    matTooltip="date sort"
    class="filters_item button"
    (click)="dateSortDesc()"
    [disabled]="
      !isDateAsc ||
      !isViewsCountDesc ||
      !isViewsCountAsc ||
      youtubeService.filterSearchInputValue !== ''
    "
    [ngStyle]="{
      background: !isDateDesc ? buttonColourActive : 'transparent',
    }">
    date DESC
  </button>
  <button
    type="button"
    mat-button
    class="filters_item button"
    (click)="viewsSortOrderAsc()"
    [disabled]="
      !isViewsCountDesc ||
      !isDateAsc ||
      !isDateDesc ||
      youtubeService.filterSearchInputValue !== ''
    "
    [ngStyle]="{
      background: !isViewsCountAsc ? buttonColourActive : 'transparent',
    }">
    views' count ASC
  </button>
  <button
    type="button"
    mat-button
    class="filters_item button"
    (click)="viewsSortOrderDesc()"
    [disabled]="
      !isViewsCountAsc ||
      !isDateAsc ||
      !isDateDesc ||
      youtubeService.filterSearchInputValue !== ''
    "
    [ngStyle]="{
      background: !isViewsCountDesc ? buttonColourActive : 'transparent',
    }">
    views' count DESC
  </button>
  <div class="filters_item">
    by word or sentence
    <input
      [disabled]="
        !isViewsCountAsc || !isViewsCountDesc || !isDateAsc || !isDateDesc
      "
      class="filters_input"
      type="text"
      placeholder="what you're looking for..."
      [(ngModel)]="inputValue"
      (input)="onSearch(inputValue)" />
  </div>
</div>
