<app-header
  (settingsToggle)="closeOpenFilters($event)"
  (fakeSearchHeader)="gotFakeSearch($event)"></app-header>
<app-filters
  [showHideFilters]="isOpenClose"
  (filterByWordValue)="gotFilterByWordValue($event)"
  (viewsCountAsc)="sortViewsAsc($event)"></app-filters>
<app-search-results
  class="search_results"
  [filterValueDownFromApp]="filterValue"
  [getFakeSearchValue]="fakeSearchValue"
  [gotViewsCountAcsOrder]="viewsAscSort"></app-search-results>
<app-footer></app-footer>

<router-outlet />
