<app-header
  (settingsToggle)="closeOpenFilters($event)"
  (fakeSearchHeader)="gotFakeSearch($event)"></app-header>
<app-filters
  [showHideFilters]="isOpenClose"
  (filterByWordValue)="gotFilterByWordValue($event)"
  (viewsCountAsc)="sortViewsAsc($event)"
  (viewsCountDesc)="sortViewsDesc($event)"
  (dateAsc)="sortDateAsc($event)"
  (dateDesc)="sortDateDesc($event)"></app-filters>
<app-search-results
  class="search_results"
  [filterValueDownFromApp]="filterValue"
  [getFakeSearchValue]="fakeSearchValue"
  [gotViewsCountAcsOrder]="viewsAscSort"
  [gotViewsCountDescOrder]="viewsDescSort"
  [gotDateAsc]="dateAscSort"
  [gotDateDesc]="dateDescSort"></app-search-results>

<router-outlet />
<app-footer></app-footer>
