<div class="pagination-buttons_wrapper">
  <button type="button" class="pagination-buttons_item">
    <mat-icon class="pagination-buttons_icon">
      {{ paginationButtonSymbols.first }}</mat-icon
    >
  </button>
  <button type="button" class="pagination-buttons_item">
    <mat-icon class="pagination-buttons_icon">
      {{ paginationButtonSymbols.previous }}</mat-icon
    >
  </button>
  <button type="button" class="pagination-buttons_item number">
    {{ currentPageNumber$ | async }}
  </button>
  <button
    type="button"
    class="pagination-buttons_item"
    (click)="turnNextPage()">
    <mat-icon class="pagination-buttons_icon">
      {{ paginationButtonSymbols.next }}</mat-icon
    >
  </button>
  <button type="button" class="pagination-buttons_item">
    <mat-icon class="pagination-buttons_icon">
      {{ paginationButtonSymbols.last }}</mat-icon
    >
  </button>
</div>
