@use '@angular/material' as mat;
@import '../../../m3-theme.scss';

.filters {
  &_wrapper {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &_input {
    font-size: 0.8rem;
    border-radius: 5px;
    outline: none;
    padding-left: 5px;
    border: solid 1px;

    &::placeholder {
      font-size: 0.8rem;
    }

    &:focus::placeholder {
      outline: none;
      color: transparent;
    }
  }

  &_item.title {
    pointer-events: none;
  }

  &_item.button {
    font-size: 0.8rem;
    // padding: 2px 5px;
    // border-radius: 5px;
    // border: solid 1px;
    // background-color: mat-color($_palettes, P70);

    &:hover {
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 1200px) and (min-width: 650px) {
  .filters_wrapper {
    font-size: 0.8rem;
    width: 90%;
  }
}

@media screen and (max-width: 800px) and (min-width: 320px) {
  .filters_wrapper {
    flex-direction: column;
    font-size: 0.8rem;
    row-gap: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 90%;
  }
}
