<div
  class="filters_wrapper"
  [ngStyle]="{
    visibility: showHideFilters === true ? 'hidden' : 'visible',
  }">
  <div class="filters_item title">Sorting by:</div>
  <button mat-button matTooltip="date sort" class="filters_item button">
    date
  </button>
  <button
    mat-button
    class="filters_item button"
    (click)="viewsSortOrderAsc()"
    [disabled]="!isViewsCoundDesc"
    [ngStyle]="{
      background: !isViewsCoundAsc
        ? 'oklch(75.93% 0.15 14.33 / 10%)'
        : 'transparent',
    }">
    views' count ASC
  </button>
  <button
    mat-button
    class="filters_item button"
    (click)="viewsSortOrderDesc()"
    [disabled]="!isViewsCoundAsc"
    [ngStyle]="{
      background: !isViewsCoundDesc
        ? 'oklch(75.93% 0.15 14.33 / 10%)'
        : 'transparent',
    }">
    views' count DESC
  </button>
  <button mat-button class="filters_item button">favourite</button>
  <div class="filters_item">
    by word or sentence
    <input
      class="filters_input"
      type="text"
      placeholder="what you're looking for..."
      [(ngModel)]="inputValue"
      (input)="onSearch(inputValue)" />
  </div>
</div>
