<div
  class="card_pic"
  [ngStyle]="{
    'background-image': 'url(' + card?.snippet?.thumbnails?.maxres?.url + ')',
  }"></div>
<div class="card_stats">
  <div class="card_stat view">
    {{ card?.statistics?.viewCount! }}
    <mat-icon class="header_icon">visibility</mat-icon>
  </div>
  <div class="card_stat like">
    {{ card?.statistics?.likeCount! }}
    <mat-icon class="header_icon">thumb_up</mat-icon>
  </div>
  <div class="card_stat dislike">
    {{ card?.statistics?.dislikeCount! }}
    <mat-icon class="header_icon">thumb_down</mat-icon>
  </div>
  <div class="card_stat comments">
    {{ card?.statistics?.commentCount! }}
    <mat-icon class="header_icon">comment</mat-icon>
  </div>
  <button
    id="{{ card?.id! }}"
    class="card_stat favourite"
    [ngStyle]="{
      color: isFavourite ? '#be003d' : '#000000',
    }">
    <mat-icon class="header_icon">favorite</mat-icon>
    <!-- <mat-icon class="header_icon">heart_broken</mat-icon> -->
    <!-- <mat-icon class="header_icon">person_add</mat-icon> -->
  </button>
</div>
<div class="card_title">
  {{ card?.snippet?.title! }}
</div>
