.custom-card {
  &_pic {
    width: 100%;
    aspect-ratio: 1 / 0.6;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 10px;
    background-position: center center;
  }

  &_title {
    text-align: center;
    padding-bottom: 10px;
    font-size: 0.8rem;
    font-weight: 600;
    text-overflow: ellipsis;
  }

  &_description {
    text-align: center;
    font-size: 0.8rem;
    text-overflow: ellipsis;
  }

  &_button {
    font-size: 0.8rem;
    border: none;
    background-color: transparent;
    border: none;
    border-radius: 5px;
  }
}
