.custom-card {
  &_pic {
    width: 100%;
    aspect-ratio: 1 / 0.6;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 10px;
    background-position: center center;
  }

  &_title {
    text-align: center;
    padding-bottom: 10px;
    font-size: 0.8rem;
    font-weight: 600;
  }
}
